[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/roberttorbiczuk
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/roberttorbiczuk
	label-Verified = -1..+1 group user/roberttorbiczuk
	push = group user/roberttorbiczuk
	read = group user/roberttorbiczuk
	rebase = group user/roberttorbiczuk
	removeReviewer = group user/roberttorbiczuk
	submit = group user/roberttorbiczuk
[access "refs/heads/*"]
	create = group user/roberttorbiczuk
	push = +force group user/roberttorbiczuk
	pushMerge = group user/roberttorbiczuk
	read = group user/roberttorbiczuk
[access "refs/tags/*"]
	push = group user/roberttorbiczuk
	push = +force group user/roberttorbiczuk
