{% include 'partials/header.html' %}
{{deadline_time}}
{{deadline_date}}
<form action="{% url 'add' %}" method="post">
    {%csrf_token%}
    <label for="title">Title</label><br/>
    <input type="text" name="title" id="title"/>
    <br>
    <label for="text">Text</label><br/>
    <textarea name="text" id="text"></textarea>
    <br>
    <label>Deadline</label><br/>
    <input type="date" name="date"/>
    <input type="time" name="time"/>
    <br><br>
    <input type="submit" value="Submit"/>
</form>
<br>
<a href="/todos">Go Back</a>
{% include 'partials/footer.html' %}